<div class="container tab-pane fade show active" role="tabpanel">
  <div class="row">
    <div class="col">

      <mdb-card>

      <div class="row">
        <div class="col">
          <mdb-card>
            <mdb-card-header>Mise à jour du Mot de Passe</mdb-card-header>
          </mdb-card>
        </div>

      </div>

        <mdb-card-body>

      <div class="row">
        <div class="col">
          <form #form="ngForm" (ngSubmit)="save(form)" novalidate>

            <div class="form-group">
              <label>Ancien Mot de Passe</label>
              <input #oldPassword_input="ngModel" [(ngModel)]="password.oldPassword" class="form-control"
                     name="oldPassword" required
                     type="password"/>
              <app-field-error-display
                [displayError]="form.submitted && oldPassword_input.invalid"
                [model]="oldPassword_input"
                fieldName="Ancien Mot de Passe">
              </app-field-error-display>
            </div>
            <div class="dropdown-divider"></div>
            <div class="form-group">
              <label>Nouveau Mot de Passe</label>
              <input #newPassword_input="ngModel" [(ngModel)]="password.newPassword" class="form-control" minlength="8"
                     name="newPassword"
                     required reverse="true" type="password" validateEqual="confirmPassword"/>
              <app-field-error-display
                [displayError]="form.submitted && newPassword_input.invalid"
                [model]="newPassword_input"
                fieldName="Nouvean Mot de Passe">
              </app-field-error-display>
            </div>

            <div class="form-group">
              <label>Confirmation du Mot de Passe</label>
              <input #confirmPassword_input="ngModel" [(ngModel)]="password.confirmPassword"
                     class="form-control" minlength="8"
                     name="confirmPassword" required type="password"
                     validateEqual="newPassword">
              <app-field-error-display
                [displayError]="form.submitted && confirmPassword_input.invalid"
                [model]="confirmPassword_input"
                fieldName="Confirmation du Mot de Passe">
              </app-field-error-display>
            </div>


            <div class="form-group">
              <button
                style="margin: 10px" type="submit"
                color="primary"
                mat-raised-button
                type="submit">
                <mat-icon>save</mat-icon>
                Enregistrer
              </button>

            </div>
          </form>
        </div>
      </div>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
</div>
