<div class="container">

  <nav mat-tab-nav-bar>

    <a #gle="routerLinkActive" [active]="gle.isActive"
       animationDuration="2000ms"
       mat-tab-link routerLink="general"
       routerLinkActive>
      Informations Général
    </a>
    <a #coor="routerLinkActive" [active]="coor.isActive"

       animationDuration="2000ms"
       mat-tab-link routerLink="changepassword"
       routerLinkActive>
      Changer Mot de Passe
    </a>

  </nav>

<br>

  <div class="tab-content" id="pills-tabContent">
    <router-outlet></router-outlet>
  </div>
</div>
