<div class="container-fluid">
  <mdb-card>
    <mdb-card-header>
      Gestion d'absence
    </mdb-card-header>
    <mdb-card-body>
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th scope="col">Date de creation</th>
            <th scope="col">Resource</th>
            <th scope="col">Objet</th>
            <th scope="col">Description</th>
            <th scope="col">Etat</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let absence of absences">
            <td>{{absence.absenceListDate | date:'yyyy-MM-dd' }}</td>
            <td>{{absence.resourceFullName}}</td>
            <td>{{absence.subject}}</td>
            <td>{{absence.comment}}</td>
            <td>{{absence.state}}</td>
            <td>
              <a [routerLink]="['/details',absence.reference]" class="btn btn-info" title="consulter">
                <i class="fa fa-bars"></i>
              </a>
              <a [routerLink]="['/update',absence.reference]" class="btn btn-success" title="Valider">
                <i class="fa fa-check-square"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>

    </mdb-card-body>
  </mdb-card>
</div>