<span i18n>{value, select,
  RECALL {Rappel / To do}
  NOTE {Note}
  CUSTOMER_PRESENTATION {Présentation Client}
  PHYSICAL_INTERVIEW {Entretien Physique}
  CALL {Appel}
  EMAIL {Email}
  TELEPHONE_INTERVIEW {Entretien Téléphonique}
  ToTreat {A traiter}
  InTheProcessOfQualifying {En Cours de Qualif}
  Vivier {Vivier}
  VivierPlus {Vivier ++}
  ConvertedToResource {Converti en Ressource}
  StopContacting {Ne plus contacter}
  NON {Non défini}
  NOT_DEFINED {Non défini}
  BETWEEN1AND2 {Entre 1 et 2 ans}
  BETWEEN3AND5 {Entre 3 et 5 ans}
  BETWEEN6AND10 {Entre 6 et 10 ans}
  MORE_THAN_10 {Plus que 10 ans}
  BAC {Bac}
  BAC_PLUS_2 {Bac +2}
  BAC_PLUS_3 {Bac +3}
  BAC_PLUS_4 {Bac +4}
  BAC_PLUS_5 {Bac +5}
  BAC_PLUS_6 {Bac +6}
  BAC_PLUS_7 {Bac +7}
  BAC_PLUS_8 {Bac +8}
  Prospect {Prospect}
  Customer {Client}
  Partner {Partenaire}
  Provider {Fournisseur}
  Archive {Archivé}
  Other {Autres}
  Aerospace {Aéronautique}
  Aerospace {Aérospatial}
  Agri {Agroalimentaire}
  Insurance {Assurance}
  Automobile {Automobile}
  Bank {Banque}
  Buildings {Bâtiments}
  Biomedical {Biomédical}
  Chemistry {Chimie}
  Advice {Conseil}
  Defense {Défense}
  SoftwarePublishing {Edition de logiciels}
  Energy {Energie}
  Environment {Environnement}
  Rail {Ferroviaire}
  LargeDistribution {Grande distribution}
  Infrastructure {Infrastructure}
  Logistics {Logistique}
  Media {Média}
  MetalSteelIndustry {Métallurgie/sidérurgie}
  Naval {Naval}
  Nuclear {Nucléaire}
  OilAndGas {Oil et Gaz}
  Petrochemicals {Pétrochimie}
  Pharmacy {Pharmacie}
  Health {Santé}
  PublicSector {Secteur public}
  Services {Services}
  Telecommunications {Télécommunications}
  A {A}
  B {B}
  C {C}
  D {D}
  InProgress {En cours}
  InterContract {Intercontrat}
  Exit {Sortie}
  InternalConsultant {Consultant Interne}
  ExternalConsultant {Consultant Externe}
  BusinessEngineer {Ingénieur d'affaire}
  AgencyManager {Responsable d'agence}
  Director {Directeur}
  RecruitmentOfficer {Chargé de recrutement}
  HRManager {Responsable RH}
  OfficeManager {Office Manager}
  Accounting {Comptabilité}
  Authority {Régie}
  FlatRate {Forfait}
  InternalProject {Projet interne}
  Product {Produit}
  Recruitment {Recrutement}
  Postponed {Reporté}
  Won {Gagné}
  Lost {Perdu}
  Abandoned {Abandonné}
  SendingCV {CV Envoyé}
  Waiting {En attente}
  PresentedToClient {Présenté Client}
  Rejected {Rejeté}
  Positioned {Positionné}
  }
</span>
