<div class="body">
  <app-field-error-display [errorMessage]="errorMessage">
  </app-field-error-display>
  <div class="box">
    <h2>Authentification</h2>
    <form novalidate #form="ngForm" (ngSubmit)="authenticate(form)">
      <div class="inputBox">
        <input type="email" name="email" required value="" [(ngModel)]="username" required email
          #username_input="ngModel" id="username" name="username">
        <app-field-error-display [model]="username_input" fieldName="Email"
          [displayError]="form.submitted && username_input.invalid">
        </app-field-error-display>
        <label>Email</label>
      </div>
      <div class="inputBox">
        <input type="password" name="password" required value="" [(ngModel)]="password" required
          #password_input="ngModel" id="password">
        <app-field-error-display [model]="password_input" fieldName="Mot de Passe"
          [displayError]="form.submitted && password_input.invalid">
        </app-field-error-display>
        <label>Mot de passe</label>
      </div>
      <input type="submit" name="sign-in" value="Se connecter">
    </form>
  </div>
</div>