<div class="container-fluid">
  <mdb-card>
    <mdb-card-header>
      Liste des actions
    </mdb-card-header>
    <mdb-card-body>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Date de creation</th>
            <th scope="col">Responsable</th>
            <th scope="col">Note</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let a of actions">
            <td>{{a.createdDate | date}}</td>
            <td>{{a.responsibleFullName}}</td>
            <td>{{a.note}}</td>
          </tr>
        </tbody>
      </table>
    </mdb-card-body>
  </mdb-card>
</div>