<div class="container">
  <mdb-card bgColor="winter-neva-gradient" class="text-white">
    <mdb-card-header>Liste des positions</mdb-card-header>
    <mdb-card-body>
      <div class="form-row">

        <div class="form-group col-md-4">

          <label>Etape</label>
          <select
            (change)="onSelectChange('stage',$event.target.value)"
            class="form-control"
            name="stage">

            <option *ngFor="let stage of positioningStages"
                    [value]="stage.value">{{stage.label}}
            </option>

          </select>
        </div>

        <div class="form-group col-md-4">
          <label>Etape du Besoin</label>
          <select (change)="onSelectChange('projectStage',$event.target.value)" class="form-control" name="stage">
            <option *ngFor="let stage of projectStages" [value]="stage.value">{{stage.label}}</option>
          </select>
        </div>

        <div class="form-group col-md-4">
          <label>Type du Besoin</label>
          <select (change)="onSelectChange('projectType',$event.target.value)" class="form-control" name="stage">
            <option *ngFor="let type of projectTypes" [value]="type.value">{{type.label}}</option>
          </select>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col">
          <input #search (keyup)="onSearch(search.value)" aria-label="Recherche"
                 class="form-control" placeholder="Recherche..." type="search">
        </div>
      </div>
      <div class="fixed-bottom"></div>
    </mdb-card-body>
  </mdb-card>
  <br>
  <ng2-smart-table (delete)="deletePositioning($event)"
                   (edit)="showPositioning($event)"
                   [settings]="settings"
                   [source]="source"
  >
  </ng2-smart-table>

  <div class="dropdown-divider"></div>

  <div class="form-group">

    <button (click)="onCreate()" color="primary" mat-raised-button>
      <mat-icon>add</mat-icon>
      Créer un positionnement
    </button>

  </div>
</div>
