<div class="container-fluid">


<!--  <nav mat-tab-nav-bar>-->

<!--    <a #rla="routerLinkActive" [active]="rla.isActive"-->
<!--       animationDuration="2000ms"-->
<!--       mat-tab-link routerLink="general"-->
<!--       routerLinkActive>-->
<!--      General-->
<!--    </a>-->
<!--    <a #act="routerLinkActive" [active]="act.isActive"-->

<!--       animationDuration="2000ms"-->
<!--       mat-tab-link routerLink="action"-->
<!--       routerLinkActive>-->
<!--      Action-->
<!--    </a>-->

<!--  </nav>-->
  <router-outlet></router-outlet>


</div>
