<div class="container tab-pane fade show active" role="tabpanel">
  <div class="row">
    <div class="col border">
      <div class="row">
        <div class="col border" [class.bg-warning]="editing" [class.bg-info]="!editing">
          <h5 class="text-dark dropdown-header">Informations</h5>
        </div>
      </div>
      <div class="row">
        <div class="col border">
          <form novalidate #form="ngForm" (ngSubmit)="save(form)">
            <div *ngIf="editing" class="form-group">
              <label>Date de Création: </label>
              <input type="text" readonly class="form-control-plaintext"
                     name="createdDate" style="width: 70%"
                     value="{{project.createdDate | date:'long'}}"/>
            </div>

            <div class="form-group">
              <label>Titre</label> <input class="form-control" name="title" required #title_input="ngModel"
                                          [(ngModel)]="project.title"/>
              <app-field-error-display
                [model]="title_input"
                fieldName="Titre"
                [displayError]="form.submitted && title_input.invalid">
              </app-field-error-display>
            </div>

            <div class="form-group">
              <label>Type</label> <select class="form-control" name="type"
                                          [(ngModel)]="project.type">
              <option *ngFor="let type of types" [ngValue]="type.value">{{type.label}}</option>
            </select>
            </div>

            <div class="form-group">
              <label>Etape</label> <select class="form-control" name="stage"
                                           [(ngModel)]="project.stage">
              <option *ngFor="let stage of stages" [ngValue]="stage.value">{{stage.label}}</option>
            </select>
            </div>

            <div class="form-group">
              <label>Societé</label>

              <ng-select [items]="societies$ | async"
                         name="society"
                         bindLabel="label"
                         (change)="onSocietyChange($event)"
                         bindValue="reference"
                         notFoundText="Aucun élément trouvé"
                         typeToSearchText="tapez plus de 3 caractères pour trouver la société"
                         [loading]="societiesLoading"
                         [typeahead]="societiesInput$"
                         [(ngModel)]="project.societyReference">
              </ng-select>
            </div>

            <div class="form-group">
              <label>Contact</label>

              <ng-select [items]="contacts$ | async"
                         name="contact"
                         bindValue="reference"
                         notFoundText="Aucun élément trouvé"
                         [(ngModel)]="project.societyContactReference">
                <ng-template ng-label-tmp let-item="item">
                  {{item.firstname}} {{item.lastname}}
                </ng-template>
                <ng-template ng-option-tmp let-item="item">
                  {{item.firstname}} {{item.lastname}}
                </ng-template>
              </ng-select>
            </div>

            <div class="form-group">
              <label>Responsable RH</label> <select class="form-control"
                                                    name="rh" [(ngModel)]="project.rhReference">
              <option *ngFor="let user of users" [ngValue]="user.reference">{{user.firstname}}
                {{user.lastname}}
              </option>
            </select>
            </div>
            <div class="form-group">
              <label>Responsable Manager</label> <select class="form-control"
                                                         name="manager" [(ngModel)]="project.managerReference">
              <option *ngFor="let user of users" [ngValue]="user.reference">{{user.firstname}}
                {{user.lastname}}
              </option>
            </select></div>

            <div class="form-group">
              <label>Commentaires</label>
              <textarea class="form-control" name="note" rows="5"
                        [(ngModel)]="project.note"></textarea>
            </div>


            <div class="form-group">
              <button type="submit" class="btn btn-primary"
                      [class.btn-warning]="editing">Enregistrer
              </button>
              <button type="reset" class="btn btn-secondary"
                      routerLink="/projects">Annuler
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col border" *ngIf="editing">
      <app-project-info></app-project-info>
    </div>

  </div>
</div>
