<div class="container">

  <mdb-card bgColor="primary-color-dark" class="text-white">
    <mdb-card-header><h4><img style="width: 30px; height: 30px" src="../../assets/folder.png"> Liste des projets</h4></mdb-card-header>
    <mdb-card-body>


      <div class="form-row">

        <!--<div class="form-group col-md-4">-->
          <!--<label>Etape</label>-->
          <!--<select (change)="onSelectChange('stage',$event.target.value)" class="form-control" name="stage">-->
            <!--<option *ngFor="let stage of stages" [value]="stage.value">{{stage.label}}</option>-->
          <!--</select>-->
        <!--</div>-->

        <!--<div class="form-group col-md-4">-->
          <!--<label>Type</label>-->
          <!--<select (change)="onSelectChange('type',$event.target.value)" class="form-control" name="formation">-->
            <!--<option *ngFor="let type of types" [value]="type.value">{{type.label}}</option>-->
          <!--</select>-->
        <!--</div>-->

        <!--<div class="form-group col-md-4">-->
          <!--<label>Secteur d'activité </label>-->
          <!--<select (change)="onSelectChange('activityArea',$event.target.value)" class="form-control"-->
                  <!--name="activityArea">-->
            <!--<option value="">Tous</option>-->
            <!--<option value="Other">Autres</option>-->
            <!--<option value="Aerospace">Aéronautique</option>-->
            <!--<option value="Aerospace">Aérospatial</option>-->
            <!--<option value="Agri">Agroalimentaire</option>-->
            <!--<option value="Insurance">Assurance</option>-->
            <!--<option value="Automobile">Automobile</option>-->
            <!--<option value="Bank">Banque</option>-->
            <!--<option value="Buildings">Bâtiments</option>-->
            <!--<option value="Biomedical">Biomédical</option>-->
            <!--<option value="Chemistry">Chimie</option>-->
            <!--<option value="Advice">Conseil</option>-->
            <!--<option value="Defense">Défense</option>-->
            <!--<option value="SoftwarePublishing">Edition de logiciels</option>-->
            <!--<option value="Energy">Energie</option>-->
            <!--<option value="Environment">Environnement</option>-->
            <!--<option value="Rail">Ferroviaire</option>-->
            <!--<option value="LargeDistribution">Grande distribution</option>-->
            <!--<option value="Infrastructure">Infrastructure</option>-->
            <!--<option value="Logistics">Logistique</option>-->
            <!--<option value="Media">Média</option>-->
            <!--<option value="MetalSteelIndustry">Métallurgie/sidérurgie</option>-->
            <!--<option value="Naval">Naval</option>-->
            <!--<option value="Nuclear">Nucléaire</option>-->
            <!--<option value="OilAndGas">Oil &amp; Gaz</option>-->
            <!--<option value="Petrochemicals">Pétrochimie</option>-->
            <!--<option value="Pharmacy">Pharmacie</option>-->
            <!--<option value="Health">Santé</option>-->
            <!--<option value="PublicSector">Secteur public</option>-->
            <!--<option value="Services">Services</option>-->
            <!--<option value="Telecommunications">Télécommunications</option>-->
          <!--</select>-->
        <!--</div>-->


      </div>

      <div class="form-row">
        <div class="form-group col">
          <input #search (keyup)="onSearch(search.value)" aria-label="Recherche"
                 class="form-control" placeholder="Recherche un projet..." type="search">
        </div>
      </div>

      <div class="fixed-bottom"></div>
    </mdb-card-body>
  </mdb-card>

  <br>
  <ng2-smart-table (delete)="deleteProject($event)"
                   (edit)="showProject($event)"
                   [settings]="settings"
                   [source]="source">
  </ng2-smart-table>

  <div class="dropdown-divider"></div>

  <div class="form-group">
    <button routerLink="/projects/create" color="primary" mat-raised-button>
      <mat-icon>add</mat-icon>
      Créer un projet
    </button>
  </div>
</div>
