<div class="container tab-pane fade show active" role="tabpanel">
  <div class="row">
    <div class="col border">
      <div class="row">
        <div class="col border bg-warning">
          <h5 class="text-dark dropdown-header">Informations Contractuelles</h5>
        </div>
      </div>
      <div class="row">
        <div class="col border">
          <form #wishedContractForm="ngForm" (ngSubmit)="saveWishedContract(wishedContractForm)"
                novalidate>

            <div class="form-group row">
              <label class="col-sm-4 col-form-label" for=currentSalary>Salaire actuel : </label>
              <div class="col-sm-8">
                <input #currentSalary_input="ngModel" [(ngModel)]="wishedContract.currentSalary" class="form-control"
                       id="currentSalary" name="currentSalary"
                       required step="any"
                       type="number">

                <app-field-error-display
                  [displayError]="wishedContractForm.submitted && currentSalary_input.invalid"
                  [model]="currentSalary_input"
                  fieldName="Salaire actuel">
                </app-field-error-display>
              </div>
            </div>


            <div class="form-group row">
              <label class="col-sm-4 col-form-label" for=currency>Devise:
              </label>
              <div class="col-sm-8">
                <select [(ngModel)]="wishedContract.currency" class="form-control"
                        name="currency">
                  <option value="EUR">EUR Euro</option>
                  <option value="USD">USD United States Dollars</option>
                  <option value="GPB">GPB United Kingdom Pounds</option>
                </select>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-4 col-form-label" for=wishedContractType>Contrat
                RH souhaité: </label>
              <div class="col-sm-8">
                <select [(ngModel)]="wishedContract.type" class="form-control" id="wishedContractType"
                        name="wishedContractType">
                  <option value="NOT_DEFINED">Non défini</option>
                  <option value="CDI">CDI</option>
                  <option value="CDD">CDD</option>
                  <option value="SUBCONTRACTOR">Sous-traitant</option>
                  <option value="FREELANCE">Freelance</option>
                  <option value="TRAINEESHIP">Stage</option>
                </select>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-4 col-form-label" for=wishedSalaryMin>Salaire
                souhaité(Min):</label>
              <div class="col-sm-8">
                <input [(ngModel)]="wishedContract.wishedSalaryMin" class="form-control" id="wishedSalaryMin"
                       name="wishedSalaryMin"
                       type="number">
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-4 col-form-label" for=wishedSalaryMax>Salaire
                souhaité(Max):</label>
              <div class="col-sm-8">
                <input [(ngModel)]="wishedContract.wishedSalaryMax" class="form-control" id="wishedSalaryMax"
                       name="wishedSalaryMax"
                       type="number">
              </div>
            </div>

            <div class="form-group">
              <button [class.btn-warning]="editing" class="btn btn-primary"
                      type="submit">Enregistrer
              </button>
              <button [routerLink]="urlToReturn" class="btn btn-secondary"
                      type="reset">Annuler
              </button>

              <button (click)="initContract()" *ngIf="!haveContract"
                      class="btn btn-info">Contrat RH proposé
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div *ngIf="haveContract" class="col border">
      <div class="row">
        <div class="col border bg-warning">
          <h5 class="text-dark dropdown-header">Contrat RH proposé</h5>
        </div>
      </div>
      <div class="row">
        <div class="col border">
          <form #contractForm="ngForm" (ngSubmit)="saveContract(contractForm)"
                novalidate>

            <div class="form-group row">
              <label class="col-sm-4 col-form-label" for=salary>Salaire :
              </label>
              <div class="col-sm-8">
                <input [(ngModel)]="contract.salary" class="form-control" id="salary" name="salary"
                       required step="any" type="number">
              </div>
            </div>


            <div class="form-group row">
              <label class="col-sm-4 col-form-label" for=currency>Devise:
              </label>
              <div class="col-sm-8">
                <select [(ngModel)]="contract.currency" class="form-control" id="currency"
                        name="currency">
                  <option value="EUR">EUR Euro</option>
                  <option value="USD">USD United States Dollars</option>
                  <option value="GPB">GPB United Kingdom Pounds</option>
                </select>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-4 col-form-label" for=contractType>Contrat
                RH: </label>
              <div class="col-sm-8">
                <select [(ngModel)]="contract.type" class="form-control" id="contractType"
                        name="contractType">
                  <option value="NOT_DEFINED">Non défini</option>
                  <option value="CDI">CDI</option>
                  <option value="CDD">CDD</option>
                  <option value="SUBCONTRACTOR">Sous-traitant</option>
                  <option value="FREELANCE">Freelance</option>
                  <option value="TRAINEESHIP">Stage</option>
                </select>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-4 col-form-label" for=workTime>Temps
                de travail: </label>
              <div class="col-sm-8">
                <select [(ngModel)]="contract.workTime" class="form-control" id="workTime"
                        name="workTime">
                  <option value="NOT_DEFINED">Non défini</option>
                  <option value="FULL_TIME">Temps plein</option>
                  <option value="PART_TIME">Temps partiel</option>
                  <option value="HALF_TIME">Mi-temps</option>
                </select>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-4 col-form-label" for=startDate>Date
                de Début:</label>
              <div class="col-sm-8">
                <input [(ngModel)]="contract.startDate" class="form-control" id="startDate"
                       name="startDate" required type="date">
              </div>
            </div>

            <div class="form-group row">
              <label class="col-sm-4 col-form-label" for=endDate>Date de
                Fin:</label>
              <div class="col-sm-8">
                <input [(ngModel)]="contract.endDate" class="form-control" id="endDate"
                       name="endDate" required type="date">
              </div>
            </div>

            <div class="form-group">
              <button [class.btn-warning]="editing" class="btn btn-primary"
                      type="submit">Enregistrer
              </button>
              <button [routerLink]="urlToReturn" class="btn btn-secondary"
                      type="reset">Annuler
              </button>

              <button (click)="deleteContract()" class="btn btn-danger"
                      type="button">Supprimer
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
