/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";

.hidden {
  display: none !important;
}
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}

.card-header:first-child {
  background-color: #4267b2;
  color: white;
  border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}


tr.ng2-smart-titles {
  background-color: #4267b2;
  color: white;
}

a.ng2-smart-sort-link.sort {
  color: white;
}

tr:hover {
  cursor: pointer;
}

.starter-template {
  padding: 3rem 1.5rem;
  /*     text-align: center; */
}

tr.ng2-smart-filters {
  display: none;
}

.dialog > mat-dialog-container {
  padding: 2px;
}

.navbar {
  background-color: #4267b2;
}

.card {
  height: 100% !important;
}

.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
}

.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 6px;
  box-sizing: border-box;
  border: 26px solid #cef;
  border-color: #cef transparent #cef transparent;
  animation: lds-hourglass 1.2s infinite;
}

@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  100% {
    transform: rotate(1800deg);
  }
}
