<div class="container">
  <div class="row">
    <mdb-card style="width: 100%;">
      <mdb-card-header><b>Informations de positionnement</b> <span
        class="float-right"><b>Crée le {{positioning.createdDate | date}}
        à {{positioning.createdDate | date:"HH:mm"}}</b> </span></mdb-card-header>
      <mdb-card-body>
        <form #form="ngForm" (ngSubmit)="updatePostioning(form)">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">

                <mat-form-field class="example-container">
                  <input [(ngModel)]="positioning.needTitle" name="project"
                         placeholder="Nom de besoin"
                         matInput readonly="true"
                         type="text">
                </mat-form-field>

                <!--<ng-select [(ngModel)]="positioning.needReference"-->
                           <!--[items]="needs"-->
                           <!--[loading]="projectsLoading"-->
                           <!--[typeahead]="projectsInput$"-->
                           <!--bindLabel="title"-->
                           <!--bindValue="reference"-->
                           <!--disabled-->
                           <!--name="project"-->
                           <!--notFoundText="Aucun élément trouvé"-->
                           <!--required-->
                           <!--typeToSearchText="tapez plus de 3 caractères pour trouver le projet">-->
                <!--</ng-select>-->
              </div>

              <div class="form-group">
                <mat-form-field class="example-container">
                  <input [(ngModel)]="positioning.resourceFullName" name="resource"
                         placeholder="Resource"
                         matInput readonly="true"
                         type="text">
                </mat-form-field>

                <!--<ng-select [(ngModel)]="positioning.resourceReference"-->
                           <!--[items]="resources"-->
                           <!--[loading]="resourcesLoading"-->
                           <!--[typeahead]="resourcesInput$"-->
                           <!--bindLabel="fullName"-->
                           <!--bindValue="reference"-->
                           <!--name="resource"-->
                           <!--notFoundText="Aucun élément trouvé"-->
                           <!--required-->
                           <!--typeToSearchText="tapez plus de 3 caractères pour trouver la resource">-->
                <!--</ng-select>-->

              </div>

              <div class="form-group">

                <mat-form-field class="example-container">
                  <input [(ngModel)]="positioning.responsibleFullName" name="responsable"
                         placeholder="Responsable"
                         matInput readonly="true"
                         type="text">
                </mat-form-field>

                <!--<mat-form-field class="example-container">-->
                  <!--<mat-select [(ngModel)]="positioning.responsibleReference"-->
                              <!--name="responsable"-->
                              <!--matInput-->
                              <!--placeholder="Responsable">-->
                    <!--<mat-option *ngFor="let user of users" [value]="user.reference">{{user.firstname}}-->
                      <!--{{user.lastname}}-->
                    <!--</mat-option>-->
                  <!--</mat-select>-->
                <!--</mat-form-field>-->
              </div>

              <div class="form-group">

                <mat-form-field class="example-container">
                  <input [(ngModel)]="positioning.client" name="society"
                         placeholder="Client - Contact"
                         matInput readonly="true"
                         type="text">
                </mat-form-field>
                <!--<ng-select [(ngModel)]="positioning.clientReference"-->
                           <!--[items]="societies"-->
                           <!--bindLabel="label"-->
                           <!--bindValue="reference"-->
                           <!--name="society"-->
                           <!--notFoundText="Aucun élément trouvé"-->
                           <!--required-->
                           <!--typeToSearchText="tapez plus de 3 caractères pour trouver la resource">-->
                <!--</ng-select>-->

              </div>

              <!--<div class="form-group">-->
                <!--<mat-form-field class="example-container">-->
                  <!--<mat-select [(ngModel)]="positioning.client"-->
                              <!--name="responsable"-->
                              <!--matInput-->
                              <!--placeholder="Client">-->
                    <!--<mat-option *ngFor="let society of societies" [value]="society">{{society.label}}-->

                    <!--</mat-option>-->
                  <!--</mat-select>-->
                <!--</mat-form-field>-->
              <!--</div>-->

              <div class="form-group">
                <mat-form-field class="example-container">
                  <mat-select
                    [disabled]="positioning.stage == 'Won'"
                    [(ngModel)]="positioning.stage"
                    name="stage"
                    [placeholder]="positioning.stage == 'Won' ? 'Gagné' : 'Gagné' "
                    required>
                    <mat-option *ngFor="let stage of stages" [value]="stage.value">{{stage.label}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>


              <div class="form-group">
                <mat-form-field class="example-container">

                  <input [(ngModel)]="positioning.freeDays" name="freeDays"
                         placeholder="Jours gratuits"
                         required
                         matInput
                         type="number">
                </mat-form-field>
              </div>

            </div>

            <div class="col-md-6">


              <div class="form-group">
                <mat-form-field class="example-container">
                  <input [(ngModel)]="positioning.invoicedDays" name="invoicedDays"
                         placeholder="Jours facturés"
                         required
                         matInput
                         type="number">
                </mat-form-field>
              </div>

              <div class="form-group">
                <mat-form-field class="example-container">
                  <input [(ngModel)]="positioning.note" name="note"
                         placeholder="Note"
                         required
                         matInput
                         type="text">
                </mat-form-field>
              </div>

              <div class="form-group">
                <mat-form-field class="example-container">

                  <input
                    [matDatepicker]="picker"
                    [(ngModel)]="positioning.startDate"
                    matInput
                    name="startDate"
                    placeholder="Date de début"
                    required>
                  <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>


              <div class="form-group">
                <mat-form-field class="example-container">
                  <input [(ngModel)]="positioning.endDate"
                         [matDatepicker]="picker2"
                         name="endDate"
                         placeholder="Date de fin"
                         required
                         matInput>
                  <mat-datepicker-toggle [for]="picker2" matSuffix></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
              </div>

              <div class="form-group">
                <mat-form-field class="example-container">
                  <input [(ngModel)]="positioning.cjm"
                         matInput
                         name="cjm"
                         placeholder="CJM"
                         required
                         type="number">
                </mat-form-field>
              </div>

              <div class="form-group">
                <mat-form-field class="example-container">
                  <input [(ngModel)]="positioning.tjm" class="form-control" name="tjm"
                         placeholder="TJM"
                         required
                         matInput
                         type="number">
                </mat-form-field>
              </div>

            </div>
            <div class="form-group">
              <button mat-raised-button style="margin: 3px"
                      color="primary" type="submit"><mat-icon>save_outline</mat-icon> Enregistrer
              </button>

              <button mat-raised-button style="margin: 3px" color="accent" [disabled]="positioning.stage == 'Won'"  type="button"
                      (click)="convertToProject()"><mat-icon>directions</mat-icon> Convertit en projet
              </button>

              <button mat-raised-button style="margin: 3px"
                      color="warn" routerLink="/positionings" type="reset"><mat-icon>cancel</mat-icon> Retour
              </button>



            </div>
          </div>
        </form>
      </mdb-card-body>
    </mdb-card>
  </div>
</div>





