<div class="container tab-pane fade show active" role="tabpanel">
  <div class="row">
    <div [class.bg-warning]="editing" class="col border">
      <div class="row">
        <div class="col border bg-info">
          <h5 class="text-dark dropdown-header">Positionnement</h5>
        </div>
      </div>
      <div class="container">
        <form #form="ngForm" (ngSubmit)="updatePostioning(form)">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Besoin | Date de création: {{positioning.createdDate}} </label>
                <ng-select [(ngModel)]="positioning.needReference"
                           [items]="needs"
                           [loading]="projectsLoading"
                           [typeahead]="projectsInput$"
                           bindLabel="title"
                           bindValue="reference"
                           name="project"
                           notFoundText="Aucun élément trouvé"
                           required
                           typeToSearchText="tapez plus de 3 caractères pour trouver le projet">
                </ng-select>
              </div>

              <div class="form-group">
                <label>Resource</label>

                <ng-select [(ngModel)]="positioning.resourceReference"
                           [items]="resources"
                           [loading]="resourcesLoading"
                           [typeahead]="resourcesInput$"
                           bindLabel="fullName"
                           bindValue="reference"
                           name="resource"
                           notFoundText="Aucun élément trouvé"
                           required
                           typeToSearchText="tapez plus de 3 caractères pour trouver la resource">
                </ng-select>

              </div>

              <div class="form-group">
                <label>Responsable</label>
                <select [(ngModel)]="positioning.responsibleReference"
                        class="form-control"
                        name="responsable"
                        placeholder="responsable">

                  <option *ngFor="let user of users" [ngValue]="user.reference">{{user.firstname}}
                    {{user.lastname}}
                  </option>
                </select>
              </div>

              <div class="form-group">
                <label>Stage</label> <select
                [disabled]="positioning.stage == 'Won'"
                [(ngModel)]="positioning.stage" class="form-control"
                                             name="stage"
                                             placeholder="stage"
                                             required>
                <option *ngFor="let stage of stages" [ngValue]="stage.value">{{stage.label}}</option>
              </select>

              </div>


              <div class="form-group">
                <label>Free days</label>
                <input [(ngModel)]="positioning.freeDays" class="form-control" name="freeDays"
                       placeholder="freeDays"
                       required
                       type="number">
              </div>
            </div>

            <div class="col-md-6">


              <div class="form-group">
                <label>Invoiced Days</label>
                <input [(ngModel)]="positioning.invoicedDays" class="form-control" name="invoicedDays"
                       placeholder="invoicedDays"
                       required
                       type="number">
              </div>

              <div class="form-group">
                <label>Note</label>
                <input [(ngModel)]="positioning.note" class="form-control" name="note"
                       placeholder="note"
                       required
                       type="text">
              </div>
              <div class="form-group">
                <label>Start Date</label>
                <input [(ngModel)]="positioning.startDate" class="form-control" name="startDate"
                       placeholder="startDate"
                       required
                       type="date">
              </div>
              <div class="form-group">
                <label>Date de fin</label>
                <input [(ngModel)]="positioning.endDate" class="form-control" name="endDate"
                       placeholder="endDate"
                       required
                       type="date">
              </div>

              <div class="form-group">
                <label>CJM</label>
                <input [(ngModel)]="positioning.cjm" class="form-control" name="cjm"
                       placeholder="CJM"
                       required
                       type="number">
              </div>
              <div class="form-group">
                <label>TJM</label>
                <input [(ngModel)]="positioning.tjm" class="form-control" name="tjm"
                       placeholder="tjm"
                       required
                       type="number">
              </div>
            </div>
            <div class="form-group">
              <button class="btn btn-primary" type="submit">Enregistrer</button>
              <button class="btn btn-secondary" routerLink="/positionings" type="reset">Annuler</button>
              <button [disabled]="positioning.stage == 'Won'" class="btn btn-warning"  type="button" (click)="convertToProject()">Convertit en projet</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>





