<div class="container">

  <div class="form-group bg-light border-light">


    <div class="form-row">

      <div class="form-group col-md-4">
        <label>Etape</label>
        <select class="form-control" name="stage" (change)="onSelectChange('stage',$event.target.value)">
          <option *ngFor="let stage of stages" [value]="stage.value">{{stage.label}}</option>
        </select>
      </div>

      <div class="form-group col-md-4">
        <label>Formation</label>
        <select class="form-control" name="formation" (change)="onSelectChange('formation',$event.target.value)">
          <option *ngFor="let formation of formations" [value]="formation.value">{{formation.label}}</option>
        </select>
      </div>

      <div class="form-group col-md-4">
        <label>Expérience</label>
        <select class="form-control" name="experience" (change)="onSelectChange('experience',$event.target.value)">
          <option *ngFor="let experience of experiences" [value]="experience.value">{{experience.label}}</option>
        </select>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col">
        <input #search class="form-control" (keyup)="onSearch(search.value)"
               type="search" placeholder="recherche..." aria-label="Recherche">
      </div>
    </div>

    <div class="fixed-bottom"></div>

  </div>

  <ng2-smart-table (edit)="showDeveloper($event)"
                   (delete)="deleteDeveloper($event)"
                   [settings]="settings"
                   [source]="source"></ng2-smart-table>
  <div class="dropdown-divider"></div>

  <div class="form-group">
    <button class="btn btn-primary" routerLink="/developer/create">Ajouter</button>
  </div>
</div>


