<form novalidate #form="ngForm" (ngSubmit)="save(form)">
  <table *ngIf="cvs?.length > 0"
         class="table table-striped table-sm">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">CV</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let cv of cvs; let i=index">
      <td>{{i+1}}</td>
      <td>
        <a type="text/html" [href]="cv.url" class="card-link">{{cv.label}}</a>

      </td>
      <td>
        <button type="button" class="btn btn-sm btn-danger fa fa-trash"
                (click)="deleteCV(i)"></button>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="form-group required">
    <label class="col-form-label" for="file">Choose File</label>
    <input class="form-control-file" #file_input="ngModel" type="file" id="file"
           accept=".pdf,.doc,.docx" [ng2FileSize]="{ max: 1024 * 1024 * 8 * 7}" name="file"
           (change)="handleFileInput($event.target.files)"
           required [fileSizeErrorMsg]="'Le fichier ne peut pas dépasser les 7M !'"
           [(ngModel)]="f">

    <app-field-error-display
      [model]="file_input"
      fieldName="CV"
      [displayError]="form.submitted && file_input.invalid">
    </app-field-error-display>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-warning">Enregistrer
    </button>
    <button type="reset" class="btn btn-secondary"
            routerLink="/developers">Annuler
    </button>
  </div>
</form>
