<div class="container tab-pane fade show active" role="tabpanel">
  <div class="row">
    <div class="col border">
      <div class="row">
        <div class="col border" [class.bg-warning]="editing" [class.bg-info]="!editing">
          <h5 class="text-dark dropdown-header">Informations</h5>
        </div>
      </div>
      <div class="row">
        <div class="col border">
          <form novalidate #form="ngForm" (ngSubmit)="save(form)">
            <div *ngIf="editing" class="form-group">
              <label>Date de Création: </label> <input type="text" readonly class="form-control-plaintext"
                                                       name="createdDate"
                                                       value="{{developer.createdDate | date:'long'}}"/>
            </div>
            <div class="form-group">
              <label>Nom</label> <input class="form-control" name="firstname"
                                        [(ngModel)]="developer.firstname"/>
            </div>
            <div class="form-group">
              <label>Prénom</label> <input class="form-control" name="lastname"
                                           [(ngModel)]="developer.lastname"/>
            </div>
            <div class="form-group">

              <div class="segmented-control " style="width: 100%; color: #4fa2d9">
                <input type="radio" value="M" name="gender"
                       [(ngModel)]="developer.gender"> Mr <input type="radio"
                                                                 value="F" name="gender"
                                                                 [(ngModel)]="developer.gender">
                Mme
              </div>
            </div>
            <div class="form-group">
              <label>Etape</label> <select class="form-control" name="stage"
                                           [(ngModel)]="developer.stage">
              <option *ngFor="let stage of stages" [ngValue]="stage.value">{{stage.label}}</option>
            </select>
            </div>
            <div class="form-group">
              <label>Responsable RH</label> <select class="form-control"
                                                    name="rh" [(ngModel)]="developer.rhReference">
              <option *ngFor="let user of users" [ngValue]="user.reference">{{user.firstname}}
                {{user.lastname}}
              </option>
            </select>
            </div>
            <div class="form-group">
              <label>Responsable Manager</label> <select class="form-control"
                                                         name="manager" [(ngModel)]="developer.managerReference">
              <option *ngFor="let user of users" [ngValue]="user.reference">{{user.firstname}}
                {{user.lastname}}
              </option>
            </select>
            </div>
            <div class="form-group">
              <label>Disponibiltité</label> <input class="form-control"
                                                   type="date" name="availability"
                                                   [(ngModel)]="developer.availability"/>
            </div>
            <div class="form-group">
              <label>Mobilité</label>
              <!-- <input class="form-control" name="mobility"
                            [(ngModel)]="developer.mobility" /> -->

              <ng-select [multiple]="true" bindValue="label" name="mobility" #mobility="ngModel"
                         [(ngModel)]="developer.mobility" id="mobility">


                <ng-option [value]="monde">Monde</ng-option>
                <ng-option [value]="afrique">Afrique</ng-option>
                <ng-option [value]="ameriquesnord">Amériques du Nord</ng-option>
                <ng-option [value]="ameriquessud">Amériques du Sud</ng-option>
                <ng-option [value]="asie">Asie</ng-option>
                <ng-option [value]="australie">Australie</ng-option>
                <ng-option [value]="europe">Europe</ng-option>
                <ng-option [value]="allemagne">Allemagne</ng-option>
                <ng-option [value]="autriche">Autriche</ng-option>
                <ng-option [value]="belgique">Belgique</ng-option>
                <ng-option [value]="bulgarie">Bulgarie</ng-option>
                <ng-option [value]="chypre">Chypre</ng-option>
                <ng-option [value]="danemark">Danemark</ng-option>
                <ng-option [value]="espagne">Espagne</ng-option>
                <ng-option [value]="estonie">Estonie</ng-option>
                <ng-option [value]="finlande">Finlande</ng-option>
                <ng-option [value]="france" selected="selected">France</ng-option>
                <ng-option [value]="grece">Grèce</ng-option>
                <ng-option [value]="hongrie">Hongrie</ng-option>
                <ng-option [value]="irlande">Irlande</ng-option>
                <ng-option [value]="italie">Italie</ng-option>
                <ng-option [value]="lettonie">Lettonie</ng-option>
                <ng-option [value]="lituanie">Lituanie</ng-option>
                <ng-option [value]="luxembourg">Luxembourg</ng-option>
                <ng-option [value]="malte">Malte</ng-option>
                <ng-option [value]="paysbas">Pays-Bas</ng-option>
                <ng-option [value]="pologne">Pologne</ng-option>
                <ng-option [value]="portugal">Portugal</ng-option>
                <ng-option [value]="republiquetcheque">République tchèque</ng-option>
                <ng-option [value]="roumanie">Roumanie</ng-option>
                <ng-option [value]="royaumeuni">Royaume-Uni</ng-option>
                <ng-option [value]="slovaquie">Slovaquie</ng-option>
                <ng-option [value]="slovenie">Slovénie</ng-option>
                <ng-option [value]="suede">Suède</ng-option>
                <ng-option [value]="suisse">Suisse</ng-option>
                <ng-option [value]="france_alsace">Alsace</ng-option>
                <ng-option [value]="france_aquitaine">Aquitaine</ng-option>
                <ng-option [value]="france_auvergne">Auvergne</ng-option>
                <ng-option [value]="france_bourgogne">Bourgogne</ng-option>
                <ng-option [value]="france_bretagne">Bretagne</ng-option>
                <ng-option [value]="france_centre">Centre</ng-option>
                <ng-option [value]="france_champagneardenne">Champagne-Ardenne</ng-option>
                <ng-option [value]="france_corse">Corse</ng-option>
                <ng-option [value]="france_franchecomte">Franche-Comté</ng-option>
                <ng-option [value]="france_iledefrance">Ile-de-France</ng-option>
                <ng-option [value]="france_languedocroussillon">Languedoc-Roussillon</ng-option>
                <ng-option [value]="france_limousin">Limousin</ng-option>
                <ng-option [value]="france_lorraine">Lorraine</ng-option>
                <ng-option [value]="france_midipyrenees">Midi-Pyrénées</ng-option>
                <ng-option [value]="france_nordpasdecalais">Nord-Pas-de-Calais</ng-option>
                <ng-option [value]="france_bassenormandie">Basse-Normandie</ng-option>
                <ng-option [value]="france_hautenormandie">Haute-Normandie</ng-option>
                <ng-option [value]="france_paysdelaloire">Pays de la Loire</ng-option>
                <ng-option [value]="france_picardie">Picardie</ng-option>
                <ng-option [value]="france_poitoucharentes">Poitou-Charentes</ng-option>
                <ng-option [value]="france_paca">PACA</ng-option>
                <ng-option [value]="france_rhonealpes">Rhône-Alpes</ng-option>
                <ng-option [value]="france_iledefranceparis">Paris (75)</ng-option>
                <ng-option [value]="france_iledefranceseineetmarne">Seine-et-Marne(77)</ng-option>
                <ng-option [value]="france_iledefranceyvelines">Yvelines(78)</ng-option>
                <ng-option [value]="france_iledefranceessone">Essone(91)</ng-option>
                <ng-option [value]="france_iledefrancehautsdeseine-92">Hauts-de-Seine(92)</ng-option>
                <ng-option [value]="france_iledefranceseinesaintdenis">Seine-Saint-Denis(93)</ng-option>
                <ng-option [value]="france_iledefrancevaldemarne">Val-de-Marne(94)</ng-option>
                <ng-option [value]="france_iledefrancevaloise">Val-d'Oise(95)</ng-option>
                <ng-option [value]="inde">Inde</ng-option>
                <ng-option [value]="afriquedusud">Afrique du Sud</ng-option>
                <ng-option [value]="algerie">Algérie</ng-option>
                <ng-option [value]="angola">Angola</ng-option>
                <ng-option [value]="benin">Bénin</ng-option>
                <ng-option [value]="botswana">Botswana</ng-option>
                <ng-option [value]="burkinafaso">Burkina Faso</ng-option>
                <ng-option [value]="burundi">Burundi</ng-option>
                <ng-option [value]="cameroun">Cameroun</ng-option>
                <ng-option [value]="capvert">Cap-Vert</ng-option>
                <ng-option [value]="centreafricaine">République Centre africaine</ng-option>
                <ng-option [value]="comores">Comores</ng-option>
                <ng-option [value]="congo">République du Congo</ng-option>
                <ng-option [value]="democratiqueducongo">République démocratique du Congo</ng-option>
                <ng-option [value]="coteivoire">Côte d'Ivoire</ng-option>
                <ng-option [value]="djibouti">Djibouti</ng-option>
                <ng-option [value]="egypte">Egypte</ng-option>
                <ng-option [value]="erythree">Erythrée</ng-option>
                <ng-option [value]="ethiopie">Ethiopie</ng-option>
                <ng-option [value]="gabon">Gabon</ng-option>
                <ng-option [value]="ghana">Ghana</ng-option>
                <ng-option [value]="guinee">Guinée</ng-option>
                <ng-option [value]="guineebissau">Guinée-Bissau</ng-option>
                <ng-option [value]="guineeequatoriale">Guinée équatoriale</ng-option>
                <ng-option [value]="kenya">Kenya</ng-option>
                <ng-option [value]="lesotho">Lesotho</ng-option>
                <ng-option [value]="liberia">Liberia</ng-option>
                <ng-option [value]="libye">Libye</ng-option>
                <ng-option [value]="madagascar">Madagascar</ng-option>
                <ng-option [value]="malawi">Malawi</ng-option>
                <ng-option [value]="mali">Mali</ng-option>
                <ng-option [value]="maroc">Maroc</ng-option>
                <ng-option [value]="maurice">Maurice</ng-option>
                <ng-option [value]="mauritanie">Mauritanie</ng-option>
                <ng-option [value]="mozambique">Mozambique</ng-option>
                <ng-option [value]="namibie">Namibie</ng-option>
                <ng-option [value]="niger">Niger</ng-option>
                <ng-option [value]="nigeria">Nigeria</ng-option>
                <ng-option [value]="ouganda">Ouganda</ng-option>
                <ng-option [value]="rwanda">Rwanda</ng-option>
                <ng-option [value]="saotomeetprincipe">Sao Tomé-et-Principe</ng-option>
                <ng-option [value]="senegal">Sénégal</ng-option>
                <ng-option [value]="seychelles">Seychelles</ng-option>
                <ng-option [value]="sierraleone">Sierra Leone</ng-option>
                <ng-option [value]="somalie">Somalie</ng-option>
                <ng-option [value]="soudan">Soudan</ng-option>
                <ng-option [value]="swaziland">Swaziland</ng-option>
                <ng-option [value]="tanzanie">Tanzanie</ng-option>
                <ng-option [value]="tchad">Tchad</ng-option>
                <ng-option [value]="togo">Togo</ng-option>
                <ng-option [value]="tunisie">Tunisie</ng-option>
                <ng-option [value]="zambie">Zambie</ng-option>
                <ng-option [value]="zimbabwe">Zimbabwe</ng-option>
              </ng-select>
            </div>
            <div class="form-group">
              <label>Commentaires</label>
              <textarea class="form-control" name="note" rows="5"
                        [(ngModel)]="developer.note"></textarea>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary"
                      [class.btn-warning]="editing">Enregistrer
              </button>
              <button type="reset" class="btn btn-secondary"
                      routerLink="/developers">Annuler
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col border" *ngIf="editing">
      <div class="row">
        <div class="col border bg-warning">
          <h5 class="text-dark dropdown-header">Informations complémentaires</h5>
        </div>
      </div>
      <div class="row">
        <div class="col border">
          <app-personal-info></app-personal-info>
        </div>
      </div>
    </div>
  </div>
</div>
